.grid {
	position: relative;
	margin: 0 auto;
    height: 1200px!important;
}

.js .grid::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background: #252323 url(../img/loading.svg) no-repeat 50% 75px;
	background-size: 60px auto;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.js .grid--loaded::after {
	opacity: 0;
}

.grid__item {
	width: 370px;
}

.grid__item:nth-child(1),
.grid__item:nth-child(6){
    left:  200px !important;
}
.grid__item:nth-child(2),
.grid__item:nth-child(7){
    left:  540px !important;
}
.grid__item:nth-child(3){
    top:  265px !important;
    left: 23px !important;
}
.grid__item:nth-child(4){
    top:  265px !important;
    left: 370px !important;
}
.grid__item:nth-child(5){
    top:  265px !important;
    left: 710px !important;
}
.grid__item:nth-child(6),
.grid__item:nth-child(7){
    top:  530px !important;
}
.grid__item:nth-child(8){
    top: 795px !important;
    left: 370px !important;
}
.grid__item::before{
    content: "";
    background: linear-gradient(to top,transparent, rgba(128, 0, 128, 0.5), transparent)!important;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
    transition: opacity 0.5s;
}


.grid__item--current {
	opacity: 0 !important;
}

.img-wrap {
	display: block;
    position: relative;
/* 	background-image: See JS. */
	background-size: cover;
	background-position: center;
	clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
}

.img-wrap:focus,
.img-wrap:hover {
	
}

.img-wrap img {
	display: block;
    width: 100%;
}

/*
.img-wrap img:hover{
    background: rgba(128, 0, 128, 0.25);
}
*/
/*
.img-wrap img::after,
.img-wrap img::before{
  position: absolute!imoprtant;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0;
  transition: opacity 0.5s;
}
.img-wrap img::before {
  background: rgba(128, 0, 128, 0.25);
}
.img-wrap img::after {
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5), transparent);
}
*/
.inside-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  opacity: 0;
  text-align: center;
  color: white;
  will-change: transform;
  backface-visibility: hidden;
  transform: translate(-50%, -50%) scale(0.9);
  transition: all 0.5s;
  -webkit-shape-outside: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  shape-outside: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.inside-container h2 {
  font-size: 30px;
    line-height: 1.2;
  color: #fff;
    font-weight: 300;
}
.inside-container h2::before, 
.inside-container h2::after {
  display: inline-block;
  margin: 0 0.5em;
  width: .4em;
  height: .03em;
  background: rgb(237, 208, 15);
  content: '';
  vertical-align: middle;
  transition: all 0.3s;
}

.desc {
  margin: 1em 0 0;
  font-family: 'ATC Overlook';
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  color: rgb(237, 208, 15);
}

.grid__item:hover .inside-container {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.grid__item:hover .inside-container {
  transform: translate(-50%, -50%) scale(1);
}
.grid__item:hover .img-wrap img {
  opacity: 0.6;
}

.preview {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	-webkit-align-content: center;
	align-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width: 50%;
	height: 100%;
	pointer-events: none;
}

.preview::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #1f1d1dcc;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.preview--open {
	pointer-events: auto;
}

.preview--open::before {
	opacity: 1;
}

.clone {
	position: fixed;
	z-index: 110;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-backface-visibility: hidden;
}

.original {
	position: relative;
	z-index: 120;
	display: block;
	object-fit: contain;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	-webkit-backface-visibility: hidden;
}

.preview--open .animate {
	/* open */
	-webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
	transition: transform 0.6s, opacity 0.2s;
}

.animate {
	/* close */
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.description {
	color: #fff;
}

.js .description--grid {
	display: none;
}

.description--preview {
	font-size: 2em;
	position: absolute;
	z-index: 140;
	width: 100%;
	left: 100%;
	top: 0;
	height: 100%;
	padding: 0 1em;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	opacity: 0;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 30px, 0);
	transform: translate3d(0, 30px, 0);
}

.preview--open .description--preview {
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.description--preview h3 {
    color: #eee;
	font-weight: normal;
	margin: 0;
}

.description--preview p {
    color: #ccc;
	font-size: 0.65em;
	max-width: 100%;
}

.description--preview p em {
	color: #5D5D5D;
	display: block;
	padding: 0.4em 0 0 0;
}


/* Details */

.details {
	max-width: 100%;
	/* IE 10-11 bug flexbox */
}

.details ul {
	line-height: 1;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

.details ul li {
	font-size: 0.5em;
	position: relative;
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 0.15em 0;
	white-space: nowrap;
	opacity: 0;
	color: #9d9d9d;
	-webkit-transition: -webkit-transform 1s, opacity 1s;
	transition: transform 1s, opacity 1s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
}

.preview--open .details ul li {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.preview--open .details ul li:nth-child(1) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.preview--open .details ul li:nth-child(2) {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.preview--open .details ul li:nth-child(3) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.preview--open .details ul li:nth-child(4) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.preview--open .details ul li:nth-child(5) {
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

.details ul li:first-child {
	font-weight: bold;
	color: #909090;
}

.icon {
	font-family: 'camera-icons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
}

.icon + span {
	margin-left: 5px;
	vertical-align: middle;
}

.icon-focal_length:before {
	content: '\e600';
}

.icon-exposure_time:before {
	content: '\e601';
}

.icon-iso:before {
	content: '\e602';
}

.icon-camera:before {
	content: '\e603';
}

.icon-aperture:before {
	content: '\e604';
}

.details .icon {
	margin-right: 5px;
	color: rgb(237, 208, 15);
}


/* Close button */

.action {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	cursor: pointer;
	vertical-align: top;
	color: rgb(0, 0, 0);
	border: none;
	background: none;
}

.action:hover,
.action:focus {
	color: rgb(237, 208, 15);
	outline: none;
}

.action--close {
	position: fixed;
	z-index: 150;
	top: 0;
	right: 0;
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
}

.preview--image-loaded .action--close {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.text-hidden {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	color: transparent;
}



@media screen and (max-width: 40em) {
	.description--preview h3 {
		font-size: 0.5em;
	}
	.description--preview p,
	.details {
		display: none;
	}
}

@media screen and (max-width:1200px){
    .grid{
        width: 100%!important;
    }
    
}

@media screen and (max-width:576px){
    .grid{
        height: 1850px!important;
    }
    .grid__item {
    width: 250px;
    left: 25% !important;
    }
    .inside-container h2 {
    font-size: 20px;
    }
    .preview {
    width: 100%;
    height: 50%;
    }
    .description--preview {
    width: 100%;
    left: 10%;
    top: 90%;
    height: 50%;
    padding: 0px;
    }
    .description--preview p, .details {
    display: block!important;
    }
    .description--preview p {
    font-size: 14px;
    }
}

@media screen and (max-width:768px){
    .grid__item {
        width: 250px;
    }
    
    .grid__item:nth-child(1),
    .grid__item:nth-child(6){
        left:  120px !important;
    } 
    .grid__item:nth-child(2),
    .grid__item:nth-child(7){
        left: 350px !important;
    }
    .grid__item:nth-child(3){
        left: 5px !important;
    }
    .grid__item:nth-child(4),
    .grid__item:nth-child(8){
        left: 235px !important;
    }
    .grid__item:nth-child(5){
        left: 460px !important;
    }
    .grid__item:nth-child(3),
    .grid__item:nth-child(4),
    .grid__item:nth-child(5){
        top: 180px !important;
    }
    .grid__item:nth-child(6),
    .grid__item:nth-child(7){
        top: 360px !important;
    }
    .grid__item:nth-child(8){
        top: 540px !important;
    }
}
@media screen and (max-width:1024px){
    .grid {
        height: 1000px !important;
    }
    .grid__item {
        width: 300px;
    }

    .grid__item:nth-child(2),
    .grid__item:nth-child(7){
        left:  475px !important;
    }
    .grid__item:nth-child(3),
    .grid__item:nth-child(4),
    .grid__item:nth-child(5){
        top: 215px !important;
    }
    .grid__item:nth-child(3){
        left: 60px !important;
    }
    .grid__item:nth-child(4){
        left: 337px !important;
    }
    .grid__item:nth-child(5){
        left: 615px !important;
    }
    .grid__item:nth-child(6),
    .grid__item:nth-child(7){
        top:  430px !important;
    }
    .grid__item:nth-child(8){
        top: 645px !important;
        left: 337px !important;
    }
    .headline {
    margin: 80px 50px 50px;
    }
}